---
import type { Act } from "@app/content.config";
import { format, formatISO } from "date-fns";
interface Props {
  act: Act;
}

const act = Astro.props.act;

const actTime = format(act.startDate, "HH:mm");
const actTimeIso = formatISO(act.startDate);
---

<span
  data-act
  data-act-start={formatISO(act.startDate)}
  data-act-end={formatISO(act.endDate)}
  class="data-act-active:text-pink-500 data-act-active:font-bold data-act-active:animate-pulse"
>
  <time datetime={actTimeIso}>{actTime}</time>
  {act.icon}
  {act.name}
</span>
